@page "/Account/Logout"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using Flashcardia.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager NavigationManager

<h3 class="text-center">Logging out...</h3>

@code {
    [CascadingParameter]
    HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        await SignInManager.SignOutAsync();
        NavigationManager.NavigateTo("/");
    }
}
