@page "/about"


<div class="text-center">
    <h2>About</h2>
    <hr class="mb-3" />
    <p class="mb-5 mt-5"><strong>Hello!</strong>, this site is owned and operated by me, George Bennett. I am a 28 y/o male living in south carolina with over one and a half years of professional experience in dot-net development. I created this app to show off my development skills and also, because I love to code. This app was created with the blazor framework and uses tools like Entity-Framework and Asp.Net Identity. Feel free to use this site in your studies!</p>
    <p class="mb-5">You may contact me my via email at <strong>gbennettofficial@outlook.com</strong></p>
    <a class="btn btn-primary m-0 mb-3 w-100" style="max-width: 375px;" href="/">Home</a>
</div>

@code {

}
