@page "/"

@inject SignInManager<ApplicationUser> SignInManager

<PageTitle>Home</PageTitle>

<div class="text-center">
    <h1>Flashcardia</h1>
    <blockquote class="blockquote mb-5">
        know it by heart
    </blockquote>
    <p class="mt-2 mb-5">
        Welcome to Flashcardia, the Best Flashcards App! Whether you’re a serious learner, a student, or a professional, we’ve got you covered.
    </p>
    <div class="d-flex flex-column align-items-center justify-content-center">
        <AuthorizeView>
            <Authorized> 
                <a class="btn btn-primary m-2 w-100" style="max-width: 375px;" href="/DeckManagement">Open Deck Menu</a>
                <a class="btn btn-danger  m-2 w-100" style="max-width: 375px;" href="/Account/Logout">Logout</a>
            </Authorized>
            <NotAuthorized>
                <a class="btn btn-success w-100" style="max-width: 375px;" href="/Account/Login">Login</a>
                <a class="btn btn-primary w-100" style="max-width: 375px;" href="/Account/Register">Register</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>


@code {
    public async Task Logout()
    {
        await SignInManager.SignOutAsync();
    }
}