@page "/CardPractice/CreateCard/"


@inject UserStateProvider UserStateProvider
@inject CardWriter CardWriter

@inject NavigationManager NavigationManager


<div class="text-center">
    <h2 class="h2">Create Card</h2>
    <h3 class="h6">@UserState.SelectedDeck!.Name</h3>
    <hr class="mb-3" />
    @if (CardCreated)
    {
        <h6 class="text-success">@CardCreatedMessage</h6>
    }
    <EditForm Model="Input" method="post" OnValidSubmit="AddCard" FormName="create-card" >
        <DataAnnotationsValidator />
        <ValidationSummary class="text-danger" role="alert" />
        <div class="form-floating mb-3">
            <InputTextArea @bind-Value="Input.Front" class="form-control" style="min-height: 220px;" />
            <label for="name">Front</label>
            <ValidationMessage For="() => Input.Front" class="text-danger" />
        </div>
        <div class="form-floating mb-3">
            <InputTextArea @bind-Value="Input.Back" class="form-control" style="min-height: 220px;" />
            <label for="name">Back</label>
            <ValidationMessage For="() => Input.Back" class="text-danger" />
        </div>
        <button type="submit" class="btn btn-success w-100" style="max-width: 375px;">Create Card</button>
    </EditForm>
    <a class="btn btn-secondary w-100 mt-3 mb-3" style="max-width: 375px;" href="/CardPractice/">Practice</a>
</div>


@code {

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    private UserState UserState { get; set; } = default!;

    private bool CardCreated { get; set; } = false;

    private string CardCreatedMessage { get; set; } = string.Empty;

    private int CardCounter { get; set; } = 0;

    public void AddCard()
    {
        Card card = new();
        card.Front = Input.Front;
        card.Back = Input.Back;
        card.DeckId = UserState.SelectedDeck!.Id;
        CardWriter.Create(card);
        Input.Front = string.Empty;
        Input.Back = string.Empty;
        UpdateUICardCreated();

    }

    public void UpdateUICardCreated()
    {
        CardCreated = true;
        CardCounter++;
        if(CardCounter == 1)
        {
            CardCreatedMessage = "Card Created!";
        }
        else
        {
            CardCreatedMessage = $"Card Created! ({CardCounter})";
        }
        StateHasChanged();
    }

    private void ResetUICardCreated()
    {
        CardCreated = false;
        CardCreatedMessage = string.Empty;
        CardCounter = 0;
    }


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        UserState = await UserStateProvider.Get();
        
    }

    private class InputModel
    {
        public string Front { get; set; } = string.Empty;
        public string Back { get; set; } = string.Empty;
    } 
}