
<div class="card-container w-100 h-100" @onclick="Flip">
    <div class="card-flip w-100 h-100 @GetFlipCss()">
        <!-- Front side -->
        <div class="card front w-100 h-100">
            @Front
        </div>

        <!-- Back side -->
        <div class="card back w-100 h-100">
            @Back
        </div>
    </div>
</div>

@code {
    bool Flipped { get; set; } = false;

    void Flip() => Flipped = !Flipped;

    string GetFlipCss() => Flipped ? "flipped" : "";
}


@code {

    [Parameter]
    public string Front { get; set; } = string.Empty;

    [Parameter]
    public string Back { get; set; } = string.Empty;

}
