name: deploy-flashcardia-web-app

env:
  AZURE_WEBAPP_NAME: 'flashcardia-web-app'
  AZURE_WEBAPP_PACKAGE_PATH: '.'
  DOTNET_VERSION: '8.0.x'

on: 
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: dotnet build and publish
        run: |
         dotnet restore
         dotnet build --configuration Release
         dotnet public -c Release -o '${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/release'
        
      - name: deploy to azure
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.FLASHCARDIA_AZURE_PUBLISH_PROFILE }}
          package: '${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/release'
    
